.nav-bar {
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 3;
}

.nav-bar__header {
  padding-left: 10px;
  font-size: 200%;
  line-height: 80px;
}

.nav-bar__logo {
  height: 80px;
  width: 80px;
}

.nav-bar__compose-tweet {
  margin-top: 15px;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  border: 1px solid black;
  color: #00a087;
}

.nav-bar__compose-tweet:hover {
  color: black;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}


/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
  .nav-bar {
    height: 20%;
    width: 100%;
    background-color: #00a087;
    color: #e8fdff;
    padding-left: 2em;
    padding-right: 2em;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 3;
  }
}